/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Asterisk wild selector to override default styles added by the brower */ 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;

}

/* Header */
header {
    background-color: black;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px blue;
}

h1 {
    font-family: 'roboto', sans-serif;
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header a {
    text-decoration: none;
    color: rgb(200, 255, 0);

}

#menu {
    text-align: center;

}

/* Main content */
main {
    background-color: rgb(45, 121, 183);
    color: black;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: black;
    color: yellow;
}